In [1]:
import pandas as pd

df = pd.read_csv("D:/.Semester 7/FYP/FYP docx/data_updated.csv", encoding="ISO-8859-1")

In [2]:
df.head()

  InvoiceNo     InvoiceDate  CustomerID         Country  UnitPrice
0    536365  12/1/2010 8:26     17850.0  United Kingdom      27.37
1    536366  12/1/2010 8:28     17850.0  United Kingdom       3.70
2    536367  12/1/2010 8:34     13047.0  United Kingdom      58.24
3    536368  12/1/2010 8:34     13047.0  United Kingdom      19.10
4    536369  12/1/2010 8:35     13047.0  United Kingdom       5.95

In [3]:
if df['InvoiceNo']

0         536365
1         536366
2         536367
3         536368
4         536369
5         536370
6         536371
7         536372
8         536373
9         536374
10        536375
11        536376
12        536377
13        536378
14        536380
15        536381
16        536382
17        536384
18        536385
19        536386
20        536387
21        536388
22        536389
23        536390
24        536392
25        536393
26        536394
27        536395
28        536396
29        536397
          ...
22191    C581128
22192    C581145
22193    C581148
22194    C581162
22195    C581178
22196    C581228
22197    C581229
22198    C581235
22199    C581305
22200    C581316
22201    C581322
22202    C581323
22203    C581330
22204    C581384
22205    C581390
22206    C581393
22207    C581409
22208    C581460
22209    C581462
22210    C581463
22211    C581464
22212    C581465
22213    C581466
22214    C581468
22215    C581470
22216    C581484
22217    C581490
22218    C581499
22219    C581568
22220    C581569
Name: InvoiceNo, Length: 22221, dtype: object